{% extends 'base.html' %}

{% block content %}
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
      <!--begin::Authentication - Sign-in -->
      <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
          <!--begin::Content-->
          <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
              <!--begin::Logo-->
              <a href="https://github.com/israelabraham/django-sotp" class="mb-12">
                  Django - Secured One Time Password
              </a>
              <!--end::Logo-->
              <!--begin::Wrapper-->
              <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                  <h2 class="text-center text-dark justify-content-center w-100 mx-auto">
                      Welcome, {{ username }}!
                  </h2>
              </div>
              <!--end::Wrapper-->
          </div>
          <!--end::Content-->
          <!--begin::Footer-->
          <div class="d-flex flex-center flex-column-auto p-10">
              <!--begin::Links-->
              <div class="d-flex align-items-center fw-bold fs-6">
                  <a href="https://github.com/israelabraham" class="text-muted text-hover-primary px-2">Author 🐼</a>
              </div>
              <!--end::Links-->
          </div>
          <!--end::Footer-->
      </div>
      <!--end::Authentication - Sign-in-->
  </div>
  <!--end::Root-->
{% endblock content %}